<div class="navbar navbar-expand-md navbar-light bg-dark fixed-top">
  <!-- brand -->
  <a class="navbar-brand cursorPointer" (click)="navigateTo()">
    <img src="/assets/img/jLogo.png" alt="J" class="logo" />
    <!-- large screen -->
    <span [class]="largeScreen">
      Around the World
    </span>
    <!-- small screen -->
    <span [class]="smallScreen">ATW</span>
  </a>

  <!-- responsive btn -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#mobile"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobile">
    <!-- left links -->
    <ul class="navbar-nav mr-auto"></ul>

    <!-- right links -->
    <ul class="navbar-nav ml-auto" *ngIf="isAuth$ | async; else isNotAuth">
      <!-- logged in links -->
    </ul>
    <!-- logged out links -->
    <ng-template #isNotAuth>
      <ul class="navbar-nav ml-auto">
        <app-link linkName="Register" icon="fas fa-sign-in-alt mr-2"></app-link>

        <app-link linkName="Login" icon="fas fa-edit mr-2"></app-link>
      </ul>
    </ng-template>
  </div>
</div>
